In [ ]:
Oracle AI Data Platform v1.0

Copyright Â© 2025, Oracle and/or its affiliates.

Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/

### Sample Code: Read and Write with Oracle Database

This example demonstrates how to read from and write to an **Oracle Database** using the `ORACLE_DB` connector in Spark notebooks.

- The first block reads from an existing Oracle DB table.
- The second block writes to a new target table.

**Note:** Replace all placeholders (e.g., `<USERNAME>`, `<PASSWORD>`, etc.) with values specific to your environment before running the notebook.

In [ ]:
# Read from Oracle DB
oracle_df = spark.read.format("aidataplatform") \
    .option("type", "ORACLE_DB") \
    .option("host", "<HOST>") \
    .option("port", "1521") \
    .option("database.name", "<DB-NAME>") \
    .option("user.name", "<USERNAME>") \
    .option("password", "<PASSWORD>") \
    .option("schema", "<SCHEMA>") \
    .option("table", "<TABLE_NAME>") \
    .load()

oracle_df.show()

In [ ]:
# Write to Oracle DB
oracle_df.write.format("aidataplatform") \
    .option("type", "ORACLE_DB") \
    .option("host", "<HOST>") \
    .option("port", "1521") \
    .option("database.name", "<DB-NAME>") \
    .option("user.name", "<USERNAME>") \
    .option("password", "<PASSWORD>") \
    .option("schema", "<SCHEMA>") \
    .option("table", "<TABLE_NAME>") \
    .option("write.mode", "CREATE") \
    .save()

### Sample Code: Read and Write with Oracle Exadata

This example demonstrates how to use the `ORACLE_EXADATA` connector to:

- Read from an Oracle Exadata table
- Write data to a new table in Exadata

In [ ]:
# Read data from Oracle Exadata
exadata_df = spark.read.format("aidataplatform") \
    .option("type", "ORACLE_EXADATA") \
    .option("host", "<HOST>") \
    .option("port", "1521") \
    .option("database.name", "<DB-NAME>") \
    .option("user.name", "<USERNAME>") \
    .option("password", "<PASSWORD>") \
    .option("schema", "<SCHEMA>") \
    .option("table", "<TABLE_NAME>") \
    .load()

exadata_df.show()

In [ ]:
# Write data to Oracle Exadata
exadata_df.write.format("aidataplatform") \
    .option("type", "ORACLE_EXADATA") \
    .option("host", "<HOST>") \
    .option("port", "1521") \
    .option("database.name", "<DB-NAME>") \
    .option("user.name", "<USERNAME>") \
    .option("password", "<PASSWORD>") \
    .option("schema", "<SCHEMA>") \
    .option("table", "<TABLE_NAME>") \
    .option("write.mode", "CREATE") \
    .save()

### Sample Code: Read with Autonomous AI Lakehouse (ALH)

This example demonstrates how to securely connect to an Oracle Autonomous AI Lakehouse using a wallet, 
and perform read operations using the `ORACLE_ALH` connector.

In [ ]:
# Provide the Base64-encoded wallet content here
ALH_wallet = "<base64-encoded-wallet>"

# Read data from ALH
df = spark.read.format("aidataplatform") \
    .option("type", "ORACLE_ALH") \
    .option("wallet.content", ALH_wallet) \
    .option("tns", "distestdev_high") \
    .option("user.name", "<USERNAME>") \
    .option("password", "<PASSWORD>") \
    .option("schema", "<SCHEMA>") \
    .option("table", "<TABLE_NAME>") \
    .load()

df.show()

### Sample Code: Read with Autonomous Transaction Processing (ATP)

This example demonstrates how to securely connect to an Oracle Autonomous Transaction Processing using a wallet, 
and perform read operations using the `ORACLE_ATP` connector.

In [ ]:
# Provide the Base64-encoded wallet content here
ALH_wallet = "<base64-encoded-wallet>"

# Read data from ATP
df = spark.read.format("aidataplatform") \
    .option("type", "ORACLE_ATP") \
    .option("wallet.content", ALH_wallet) \
    .option("tns", "distestdev_high") \
    .option("user.name", "<USERNAME>") \
    .option("password", "<PASSWORD>") \
    .option("schema", "<SCHEMA>") \
    .option("table", "<TABLE_NAME>") \
    .load()

df.show()

### Sample Code: Read and Write Data from ALH/ATP as an External Catalog

Oracle Autonomous AI Lakehouse (ALH) and Autonomous Transaction Processing (ATP) are fully supported as external catalogs in AI Data Platform. Once registered, users can reference any table in ALH/ATP using a three-part name format:

`<catalog_id>.<schema>.<table>`


This allows you to read and write data using SQL or Spark APIs without duplicating it.

In [ ]:
# Using Spark SQL
df = spark.sql("SELECT * FROM ALH_cat.sample_schema.sample_table")

# Using spark.table
df = spark.table("ALH_cat.sample_schema.sample_table")

# Using spark.read.table
df = spark.read.table("ALH_cat.sample_schema.sample_table")

In [ ]:
# Using SQL insert
spark.sql("INSERT INTO ALH_cat.sample_schema.sample_table VALUES (123, 'example_value')")

# Using DataFrame insert
df.write.mode("append").insertInto("ALH_cat.sample_schema.sample_table")

# Using DataFrame overwrite
df.write.mode("overwrite").saveAsTable("ALH_cat.sample_schema.sample_table")

# Using DataFrame to write
df.write.saveAsTable("ALH_cat.sample_schema.sample_table")

# Using DataFrame to merge
df.write.option('write.mode', 'MERGE').option('write.merge.keys','merge column(s)').insertInto('ALH_cat.sample_schema.sample_table')

### ALH Pushdown - Oracle SQL using External Catalog

This example demonstrates how to pushdown a fully formed Oracle SQL query to the external ALH data source.

In [ ]:
df = spark.read.format("aidataplatform") \
    .option("type", "ORACLE_ATP") \
    .option("catalog.id", "<external catalog name>") \
    .option("pushdown.sql", "<Oracle SQL query>") \
    .load()

df.show()