In [ ]:
Oracle AI Data Platform v1.0

Copyright Â© 2025, Oracle and/or its affiliates.

Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/

# Basic AI Data Platform SQL Notebook

This notebook demonstrates basic operations in AI Data Platform, including:
 1. **Data frame creation**
 2. **Basic transformations with PySpark SQL**
 3. **Simple visualization**
 
# **Parameters**

In [ ]:
%sql
create catalog if not exists lake

In [ ]:
%sql
create schema if not exists lake.bronze

# **1. Load Sample Data**

We will create a simple DataFrame to work with.

In [ ]:
%sql
CREATE TABLE IF NOT EXISTS lake.bronze.basic_tab (id INTEGER, name STRING, age INTEGER, country STRING) USING CSV;
INSERT INTO lake.bronze.basic_tab VALUES (1, 'Alice', 34, 'USA');
INSERT INTO lake.bronze.basic_tab VALUES (2, 'Bob', 45, 'Canada');
INSERT INTO lake.bronze.basic_tab VALUES (3, 'Charlie', 29, 'UK');
INSERT INTO lake.bronze.basic_tab VALUES (4, 'David', 41, 'Germany');
SELECT * from lake.bronze.basic_tab;

# **2. Perform Basic Transformations**

Let's calculate the average age.

In [1]:
%sql
select AVG(age) average_age from lake.bronze.basic_tab

# **3  Visualize the Data**

In [1]:
df=spark.sql("select * from lake.bronze.basic_tab")
display(df)